/* main color: #087f5b */
/* secondary color: #e6fcf5 */

@import url('https://fonts.font.im/css?family=Open+Sans');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  min-height: 100vh;
  background-color: #f2f2f2;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(167, 167, 167, 0.7);
}
